<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head.ejs')%>
</head>

<body class="container">
    <header class='one a'>
        <%- include('../../layout/header.ejs')%>
    </header>
    <main class="sub-content">
        <section class="grid-containerF">
            <img class="Bookimg" src="<%=book.image_url%>">
            <p class="p1">
                <%=book.title%>
            </p>
            <p class="p2">
                <%=book.author%>
            </p>
            <p class="p3">
                <%=book.description%>
            </p>
            <p class="p4">
                <%=book.isbn%>
            </p>
            <section class="btn3">
                <form action="/edit/<%=book.id%>" method="GET">
                    <button>Update book</button>
                </form>
            </section>
            <section class="btn4">
                <form action="/delete/<%=book.id%>?_method=DELETE" method="POST">
                    <button>Delete book</button>
                </form>
            </section>
        </section>
    </main>
</body>

</html>